@model BooksCatalog.Models.Book
@{
    ViewBag.Title = "Редактирование книги";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "BooksEdit", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.Partial("BooksFormPartial", Model)
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="@Url.Action("Index")" class="btn btn-default">Отмена</a>
}