@model BooksCatalog.Models.Book


<div class="book-card">
    <img class="book-card-image" src="@Url.Action("show","Images",new {id=Model.Id})" />
    <div class="card-content">
        <div class="book-card-title">
            <b></b>
            <div>@Model.Title</div>
        </div>
        <a class="btn btn-default" href="@Url.Action("Details","Books",new {bookId=Model.Id})">Подробнее</a>
    </div>
</div>