@model BooksCatalog.Models.Book


<div class="book-card">
    <div class="book-card-image">
        <img  src="@Url.Action("show","Images",new {id=Model.Id})" />
    </div>
    <div class="book-card-title">
        @Model.Title
    </div>
</div>