@using BooksCatalog.Helpers
@model System.Collections.Generic.ICollection<BooksCatalog.ViewModels.SideMenuViewModel>


<div class="col-sm-3 col-md-2 sidebar">
    <h3 class="title">
        Категории
    </h3>
    @if (Model != null)
    {
        foreach (var link in Model)
        {
            @Html.MenuButton(link);
        }
    }
</div>