@model BooksCatalog.Models.Category
@{
    ViewBag.Title = "Создание категории";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "CategoriesEdit", FormMethod.Post))
{

    @Html.Partial("CategoriesFormPartial",Model)

    <button type="submit" class="btn btn-primary">Создать</button>
    <a href="@Url.Action("Index")" class="btn btn-default">Отмена</a>
}