body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* sidebar menu */
.sidebar
{
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    padding: 0;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: #f5f5f5;
    height: 100%;

    border: 1px solid #eeeeee;
}

.sidebar .title
{
    width: 100%;
    text-align: center;
}

.sidebar .nav-button
{   
    display: block;
    width: 100%;
    /*height: 40px;*/
    /*line-height: 30px;*/
    cursor: pointer;
    padding: 5px 10px 5px 10px;

    text-decoration:none;
}

.sidebar .nav-button:hover
{
    background-color: #C5CAE9;
}

.sidebar .nav-button:active
{
    background-color: #9FA8DA;
}

/*
   Card for books index
*/

.book-card
{
    vertical-align: top;
    display: inline-block;
    width: 280px;
    height: 500px;

    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-align: center;

    margin: 10px;
}

.book-card-title
{
    text-align: left;
    margin: 0 0 10px 0;
    height: 100px;
    background-color: #F0F0F5;
    padding: 10px;
}

/* cropped image*/
.book-card-image
{
    position: relative;
    width: 280px;
    height: 400px;
    overflow: hidden;
}

.book-card-image img
{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
}

/*
    ///////////////////// Edit table //////////////////////////////////////////
*/

.edit-table
{
    width: 100%;
}

.edit-table tr:first-child
{
    background-color: #C5CAE9;
    height: 30px;
    font-weight: 700;
}

.edit-table tr:nth-child(2n)
{
    background-color: #E8EAF6;
}

.edit-table td
{
    padding: 5px;
}

/*Id column*/
.edit-table tr td:first-child
{
    width: 50px;
}

.edit-table tr td:nth-child(2)
{
    width: 70%;
}

/*
    /////////////// Form table ////////////////////////////////////////////////
*/

.form-table
{
    width: 100%;
}

.form-table td
{
    padding: 5px;
}

.form-table tr td:first-child
{
    width: 100px;
}

input
{
    max-width: 100%;
    width: 100%;
}

.validation-summary-errors ul
{
    color: #F00;
}

.book-image
{
    max-width: 300px;
    margin: 10px 0 10px 0;
}

/* ////////////////////////////////// Custom error pages  /////////////////////*/
.error-block
{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;

    transform:translate(-50%,-50%);
}

.error-code
{
    font-size: 100pt;
}

.error-description
{
    font-size: 30pt;
}